<h2>References</h2>

<div class="references">
    <p class="ref-item">Abbott B. P. et al. (LIGO/Virgo) 2017, Nature, 551, 85</p>
    <p class="ref-item">Abazajian K. N. et al. 2009, ApJS, 182, 543</p>
    <p class="ref-item">Abdalla E. et al. 2022, Journal of High Energy Astrophysics, 34, 49</p>
    <p class="ref-item">Di Valentino E. et al. 2021, Classical and Quantum Gravity, 38, 153001</p>
    <p class="ref-item">Freedman W. L., Madore B. F., Hatt D. et al. 2019, ApJ, 882, 34</p>
    <p class="ref-item">Freedman W. L., Madore B. F., Hoyt T. J. et al. 2024, preprint (arXiv:2408.06153)</p>
    <p class="ref-item">Ho L. C., Greene J. E., Filippenko A. V., Sargent W. L. W. 2009, ApJS, 183, 1</p>
    <p class="ref-item">Jorgensen I., Franx M., Kjærgaard P. 1995, MNRAS, 276, 1341</p>
    <p class="ref-item">Kodric M., Riffeser A., Seitz S. et al. 2018, ApJ, 864, 59</p>
    <p class="ref-item">Kormendy J., Ho L. C. 2013, ARA&amp;A, 51, 511</p>
    <p class="ref-item">Lee A. J., Freedman W. L., Madore B. F. et al. 2024, ApJ, 966, 20</p>
    <p class="ref-item">Makarov D., Prugniel P., Terekhova N., Courtois H., Vauglin I. 2014, A&amp;A, 570, A13</p>
    <p class="ref-item">Ochsenbein F., Bauer P., Marcout J. 2000, A&amp;AS, 143, 23</p>
    <p class="ref-item">Planck Collaboration, Aghanim N., Akrami Y. et al. 2020, A&amp;A, 641, A6</p>
    <p class="ref-item">Poulin V., Smith T. L., Karwal T., Kamionkowski M. 2019, Physical Review Letters, 122, 221301</p>
    <p class="ref-item">Riess A. G., Yuan W., Casertano S. et al. 2024, ApJ, 962, L17</p>
    <p class="ref-item">Riess A. G., Yuan W., Macri L. M. et al. 2022, ApJ, 934, L7</p>
    <p class="ref-item">Scolnic D., Brout D., Carr A. et al. 2022, ApJ, 938, 113</p>
    <p class="ref-item">Smawfield M. L. 2025a, preprint (doi:10.5281/zenodo.17127229)</p>
    <p class="ref-item">Smawfield M. L. 2025b, preprint (doi:10.5281/zenodo.18059251)</p>
    <p class="ref-item">Smawfield M. L. 2026a, preprint (doi:10.5281/zenodo.18209702)</p>
    <p class="ref-item">Tully R. B. 2015, AJ, 149, 171</p>
    <p class="ref-item">Wenger M., Ochsenbein F., Egret D. et al. 2000, A&amp;AS, 143, 9</p>
</div>
